* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER TITOLO */
.header {
    background-image: url(img/wall.png);
    text-transform: uppercase;
    font-family: "Edu TAS Beginner";
    font-size: 28px;
    padding: 20px;
    text-align: center;
}

/* CONTAINER */
.container {
    background: url('img/cork.png');
    width: 100%;
    display: flex;
    padding: 20px;



}

.card-container {
    background: white;
    padding: 10px;
    position: relative;
}

/* PIN */
.pin {
    position: absolute;
    left: 50%;
    top: -2%;
}