* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER TITOLO */
.header {
    background-image: url(img/wall.png);
    text-transform: uppercase;
    font-family: "Edu TAS Beginner";
    font-size: 28px;
    padding: 20px;
    text-align: center;
}

/* CONTAINER */
.container {
    background-image: url('img/cork.png');
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


/* CARD CONATINER */
.card-container {
    background: white;
    padding: 10px;
    position: relative;
    max-width: 500px;
    height: 350px;
    width: calc(33% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.description {
    font-family: "Edu TAS Beginner";
    margin-top: 5px;
    text-transform: uppercase;

}



/* PIN */
.pin {
    position: absolute;
    left: 50%;
    top: -2%;
}

/* OVERLAY */
.button {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;

}

.overlay {
    position: relative;
    background: white;
    padding: 20px;
    text-align: center;
}

#button-over {
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* 
.hidden {
     display: none; 
} */


/* MEDIA  */
@media(max-width:768px) {
    .card-container {
        width: calc(50% - 20px);
    }
}

@media (max-width: 492px) {
    .card-container {
        width: calc(100% - 20px);
    }
}