* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER TITOLO */
.header {
    background-image: url(img/wall.png);
    text-transform: uppercase;
    font-family: "Edu TAS Beginner";
    font-size: 28px;
    padding: 20px;
    text-align: center;
}

/* CONTAINER */
.container {
    background-image: url('img/cork.png');
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


/* CARD CONATINER */
.card-container {
    background: white;
    padding: 10px;
    position: relative;
    max-width: 500px;
    height: 350px;
    width: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.description {
    font-family: "Sometype Mono";
    margin-top: 5px;
}


/* PIN */
.pin {
    position: absolute;
    left: 50%;
    top: -2%;
}